<mat-card>
  <div class="flex justify-between">
    <div>
      <button mat-button [matMenuTriggerFor]="sortByMenu">
        Sort by {{sort}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #sortByMenu="matMenu">
        <button (click)="onSortUpdate('desc')" mat-menu-item>desc</button>
        <button (click)="onSortUpdate('asc')" mat-menu-item>asc</button>
      </mat-menu>
    </div>
    <div class="flex items-content">
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          Show {{ itemsShowCount }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onItemsUpdate(12)" mat-menu-item>12</button>
          <button (click)="onItemsUpdate(24)" mat-menu-item>24</button>
          <button (click)="onItemsUpdate(36)" mat-menu-item>36</button>
        </mat-menu>
      </div>
      <button class="pt-1" (click)="onColumnsUpdate(1)">
        <mat-icon class="text-violet-300">view_list</mat-icon>
      </button>
      <button class="pt-1" (click)="onColumnsUpdate(3)">
        <mat-icon class="text-violet-300">view_module</mat-icon>
      </button>
      <button class="pt-1" (click)="onColumnsUpdate(4)">
        <mat-icon class="text-violet-300">view_comfy</mat-icon>
      </button>
    </div>
  </div>
</mat-card>